@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
.maruf{
    font-family: "Orbitron", sans-serif;
}
.maruf{
    /* font-family: "Boldonse", system-ui; */
    font-family: "Big Shoulders Inline", sans-serif;
}

ul{
    display: inline-block;
    position: relative;
}



ul::before,ul::after{
    content: "";
    display: block;
    position: absolute;
    background:#6F1E51 ;
    transition: 0.4s;
   
}



 ul::after{
left: 50%;
bottom: -10px;

width: 0;
height: 2px;

}  
/* ul::before{
top: 0;
right: 2px;
bottom:0;
width: 0;
height: 2px;

}  */




ul:hover::after{
    width: 100%;
    left: 0;
    
  

    
   
   
   
    
 
   
   

}
ul:hover::before{
    width: 100%;

  
 
   
   

}







/* buttom-effect */
 /* .hover-effect{
    display: inline-block;
    position: relative;
}

span{
    display: inline-block;
    position: relative;
}

.hover-effect::before,.hover-effect::after{
    content: "";
    display: block;
    position: absolute;
    background:#62c50c ;
    transition: 0.4s;
   
}

span::before,span::after{
    content: "";
    display: block;
    position: absolute;
    background:#01dc08 ;
    transition: 0.4s;
      
}

span::before{
    top: 0;
    left: 0;
    width: 4px;
    height: 0; 
}

span::after{
    right: 0;
    bottom: 0;
    width: 4px;
    height: 0;  
    
}

span:hover::before{
    height: 100%;
}

span:hover::after{
    height: 100%;
}

.hover-effect::after{
left: 0;
bottom: 20px;
width: 0;
height: 2px;

} 
.hover-effect::before{
top: 0;
right: 0;
bottom: 0;
width: 0;
height: 2px;

} 




.hover-effect:hover::after{
    width: 100%;
   
    
 
   
   

}
.hover-effect:hover::before{
    width: 100%;
  
 
   
   

}  */






 /* .bg::before{
    content: "";
    display: block;
    position: absolute;
    height:100vh ;
    background: rgb(0, 0, 0,0.5);
    width: 100%;}   */







 

 .slider{
   position: relative;
   width: 100%;
   height: 400px;
   /* overflow: hidden; */
   /* border-radius: 10px; */
   box-shadow: -4px 20px 8px rgba(61, 59, 60, 0.6);
/* border: 40px solid #192a56;   */
} 

 .slides{
    display: flex;
   min-width: 100%;
     /* height: 100%;  */

  
  transition: transform 0.5s ease-in-out;
}  
.slide{
   min-width: 100%;
   height: 100%;
   /* overflow: hidden; */
}  
/* .controls{ 
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}  */

/* button{
    background:#1b146480 ;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: #347062;
    cursor: pointer;
} */
.font{
    color:#130f40 ;
    color: ;
 
    /* font-family: 'Segoe UI'; */
    font-family: "Staatliches", sans-serif;
      /* font-family: "Cal Sans", sans-serif; */
    font-family: "Saira", sans-serif;
    /* font-family: sans-serif; */

  
 
    /* font-family: "Boldonse", system-ui; */
}
h2{
    font-family: sans-serif;
}

.box{
    
    /* background-image: linear-gradient(#130f40); */
   
    font-family: sans-serif;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
 
}

.box:hover{
    
    box-shadow: -2px 18px 13px rgb(0, 0, 0,0.6);
    transition: 1.0s;
 
}


 .m{
    /* box-shadow: -2px 18px 13px rgb(0, 0, 0,0.6); */
    /* background-image: linear-gradient(#130f40); */
    
} 


.btn{
    visibility: hidden;
}

.box:hover .btn{
visibility: visible;
transition-delay: 1.0s;
}

.box:hover img{
    background: #130f40;
    box-shadow: -2px -5px 13px  #77758e;
    border-radius: 10px;
    

        /* animation: pulse 2s infinite; */

}

.box:hover img{
  
   transition: 1.0s;
    transform:translatey(20px) ;
  

        /* animation: bounce 2s infinite; */

}
h4{
    text-decoration: #ef5777;
    box-sizing: border-box;
}

h1{
    /* overflow: hidden; */
}
.slider{
    overflow: hidden;
    /* box-sizing: border-box; */

}

.bg

 .scrolled {
    background-color: #000000ee;
    transition: background-color 0.3s ease;
  }

  .vb{
    background-image: linear-gradient(to right,#0d0842,#363355,#192a56,#1B1464,#1B1464,#b36d97,#591e39,#1B1464);
  }
.bt-1{
    transition: 1.0s;
}

.nev-img{
   /* box-shadow: -2px 18px 13px rgb(0, 0, 0,0.6);   */
}

.m{
     /* box-shadow: -40px 18px 13px rgb(0, 0, 0,0.6); */
}

h3{
   
    transition: 1.0s;
    color: #fff;
 
}


.client-h3:hover h3{
     padding: 5px;
      
 background:#2f2b5a ;
    border-radius: 8px;
    
}
.client-h3:hover img{
    animation: pulse 2s infinite;
    cursor: pointer;
} 

.client-h3:hover{
    box-shadow: -2px -5px 13px  #100d2d;
    padding: 15px;
    border-radius: 3px;
}


.texttzria-bg,input{
    background: rgb(255, 255, 255,0.6);
    /* background: rgb(25, 42, 86,0.9); */
}

.block{
    /* box-shadow: -2px -5px 13px  #100d2d;   */
}
  